@import '../../../scss/variables';
.menu-top {
    width: 100%;
    display: flex;
    background-color: gray;
    button {
        background-color: transparent;
        color: $font-light;
        border: 0;
    }
    &:hover {
        color: $primary-color;
    }
    &:focus,
    &:active {
        color: $font-light;
    }
    &__left {
        padding: 4px;
        &-logo {
            width: 200px;
            padding: 0 10px;
        }
        &__icon {
            padding: 5px;
        }
    }
    &__right {
        position: absolute;
        right: 10px;
        top: 20px;
        &__icon {
            padding: 10px;
        }
    }
}